{
  "presets": [
    "react",
    [
      "env", {
        "targets": {
          "node": "0.12",
          "browsers": "last 2 versions, > 5%"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "emotion"
  ]
}
