$gray-lighter: #eee;
$gray-light: #777;


.tree-overlay {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  position: absolute;
  pointer-events: none;

  &.loading {
    opacity: 1;
  }

  &.dirty {
    opacity: 0.5;
  }
}

.tree {
  min-width: 400;
  overflow: hidden;
  background-color: white;
  position: absolute;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.craft-nodes {
  position: absolute;
  background-color: darken($gray-lighter, 20%);
  text-align: center;
  line-height: 1.75;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  height: 30px;
  pointer-events: auto;

  &.empty-node {
    box-sizing: border-box;
    border: solid 2px $gray-light;
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10px, $gray-light 10px, $gray-light 15px );
  }
}

.craft-links {
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  text-align: center;
  font-size: smaller;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.translated-tree {
  transform-origin: left top 0px;
}

.popover > .popover-content {
  padding: 0;
}

.craft-popover {
  & > .title {
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px $gray-light;
    padding-bottom: 5;
    padding-top: 5;
  }

  & > ul {
    list-style-type: none;
    border-bottom: none;
    margin: 0;
    padding: 5;
  }
}

.craft-tooltip {
  z-index: 1070;
  padding: 5px 0;
  position: absolute;

  &.top {
    & > .craft-tooltip-arrow {
      border-top-color: black;
      border-width: 5px 5px 0;
    }
  }

  &.bottom {
    & > .craft-tooltip-arrow {
      border-bottom-color: black;
      border-width: 0 5px 5px;
    }
  }

  & > .craft-tooltip-arrow {
    position: absolute;
    margin-left: -5px;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  & > .craft-tooltip-content {
    padding: 3px 8px;
    background-color: black;
    color: white;
    text-align: center;
    max-width: 200px;
  }
}

.craft-popover {
  z-index: 1070;
  position: absolute;
  max-width: 276px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;

  &.top {
    margin-top: -10px;

    & > .craft-popover-arrow {
      border-top-color: rgba(0, 0, 0, 0.25);
      border-bottom-width: 0;
      bottom: -11px;

      &::after {
        content: "";
        bottom: 1px;
        border-width: 10px;
        margin-left: -10px;
        border-top-color: white !important;
        border-bottom-width: 0;
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
      }
    }
  }

  &.bottom {
    margin-top: 10px;

    & > .craft-popover-arrow {
      border-bottom-color: rgba(0, 0, 0, 0.25);
      border-top-width: 0;
      top: -11px;

      &::after {
        content: " ";
        top: 1px;
        border-width: 10px;
        margin-left: -10px;
        border-top-width: 0;
        border-bottom-color: white !important;
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
      }
    }
  }

  & > .craft-popover-arrow {
    position: absolute;
    left: 50%;
    margin-left: -11px;
    border-width: 11px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .craft-popover-title {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-bottom: solid 1px #777;
  }

  .craft-popover-content > ul {
    list-style-type: none;
    border-bottom: none;
    margin: 0;
    padding: 5px;
  }
}
